Repository unknowIfGuestInDream/document, changes with the labels that .github/labeler.yml gives for each.
All labels: springBoot, antd, database, designPattern, japanese, java, javafx, linux, springCloud, workflow, docsify, dependencies, theme, image, cpp

.github/labeler.yml:

springBoot:
  - docs/springBootDemo/**
  - docs/_navbar.md
  - docs/_sidebar.md
  - docs/README.md
  - docs/images/actuator/**
  - docs/images/async/**
  - docs/images/autoConfigure/**
  - docs/images/binder/**
  - docs/images/conditional/**
  - docs/images/eclipse/**
  - docs/images/event/**
  - docs/images/exe/**
  - docs/images/git/**
  - docs/images/idea/**
  - docs/images/init/**
  - docs/images/jar/**
  - docs/images/init/**
  - docs/images/nginx/**
  - docs/images/other/**
  - docs/images/task/**
  - docs/images/web/**

antd:
  - docs/antd/**

database:
  - docs/database/**

designPattern:
  - docs/designPattern/**

japanese:
  - docs/japanese/**
  - docs/images/japanese/**

java:
  - docs/java/**
  - docs/images/java/**

javafx:
  - docs/javafx/**
  - docs/images/javafx/**

linux:
  - docs/linux/**
  - docs/images/linux/**

springCloud:
  - docs/springCloud/**

workflow:
  - .github/**

docsify:
  - docs/_coverpage.md
  - docs/index.html
  - docs/favicon.ico
  - docs/404.md

dependencies:
  - docs/lib/**

theme:
  - docs/themes/**

image:
  - docs/images/**

cpp:
  - docs/cpp/**

automerge:
  - all: [ 'README.md' ]
  - all: [ 'LICENSE' ]
  - all: [ 'docs/LICENSE.txt' ]
  - all: [ 'CONTRIBUTORS.md' ]

feat: Add Eclipse 设置
  docs/cpp/base/start.md
  docs/images/eclipse/eclipse27.png
  docs/images/eclipse/eclipse28.png
  docs/images/eclipse/eclipse29.png
  docs/images/eclipse/eclipse30.png
  docs/images/eclipse/eclipse31.png
  docs/springBootDemo/basic/Eclipse.md
Labels: springBoot, image, cpp

feat: Add Eclipse 设置 (#170)
  docs/cpp/base/start.md
  docs/images/eclipse/eclipse27.png
  docs/images/eclipse/eclipse28.png
  docs/images/eclipse/eclipse29.png
  docs/images/eclipse/eclipse30.png
  docs/images/eclipse/eclipse31.png
  docs/springBootDemo/basic/Eclipse.md
Labels: springBoot, image, cpp

[ImgBot] Optimize images
  docs/images/eclipse/eclipse27.png
  docs/images/eclipse/eclipse28.png
  docs/images/eclipse/eclipse29.png
  docs/images/eclipse/eclipse30.png
  docs/images/eclipse/eclipse31.png
Labels: springBoot, image

Update Contributors
  CONTRIBUTORS.md
Labels: none

feat: Support IOS web APP
  docs/index.html
  docs/manifest.json
Labels: docsify

feat: Support IOS web APP
  docs/index.html
Labels: docsify

feat: Support IOS web APP
  docs/index.html
Labels: docsify

feat: Support IOS web APP (#178)
  docs/index.html
  docs/manifest.json
Labels: docsify

feat: Update manifest.json
  docs/manifest.json
Labels: none

feat: Update manifest.json (#179)
  docs/manifest.json
Labels: none

Update Contributors
  CONTRIBUTORS.md
Labels: none

Update Contributors
  CONTRIBUTORS.md
Labels: none

feat(japanese): Add nippon resource
  .github/workflows/deploy.yml
  .gitmodules
  docs/japanese/README.md
Labels: japanese, workflow

feat(japanese): Add nippon resource
  docs/japanese/README.md
  docs/japanese/_sidebar.md
Labels: japanese

feat(japanese): Add nippon resource
  docs/japanese/_sidebar.md
Labels: japanese

feat(japanese): Add nippon resource
  docs/japanese/_sidebar.md
Labels: japanese

feat(japanese): Add nippon resource
  docs/index.html
  docs/lib/docsify-sidebar-collapse.min.js
Labels: docsify, dependencies

feat(japanese): Add nippon resource
  docs/japanese/_sidebar.md
Labels: japanese

feat(japanese): Add nippon resource (#183)
  .github/workflows/deploy.yml
  .gitmodules
  docs/index.html
  docs/japanese/_sidebar.md
  docs/lib/docsify-sidebar-collapse.min.js
Labels: japanese, workflow, docsify, dependencies

Update Contributors
  CONTRIBUTORS.md
Labels: none

feat(java): Add JDK25
  docs/java/_sidebar.md
  docs/java/other/JavaCompair25.md
Labels: java

Update Contributors
  CONTRIBUTORS.md
Labels: none

ci: Update sync-gitee.yml
  .github/workflows/sync-gitee.yml
Labels: workflow

Update Contributors
  CONTRIBUTORS.md
Labels: none

Update Contributors
  CONTRIBUTORS.md
Labels: none

docs: Add Eclipse
  docs/_navbar.md
  docs/antd/_navbar.md
  docs/cpp/_navbar.md
  docs/database/_navbar.md
  docs/designPattern/_navbar.md
  docs/eclipse/_navbar.md
  docs/extjs/_navbar.md
  docs/index.html
  docs/japanese/_navbar.md
  docs/java/_navbar.md
  docs/javafx/_navbar.md
  docs/linux/_navbar.md
  docs/springCloud/_navbar.md
Labels: springBoot, antd, database, designPattern, japanese, java, javafx, linux, springCloud, docsify, cpp

feat: Add comprehensive Eclipse RCP development documentation with Platform and PDE extension points (#193)
  docs/antd/_navbar.md
  docs/cpp/_navbar.md
  docs/database/_navbar.md
  docs/designPattern/_navbar.md
  docs/eclipse/README.md
  docs/eclipse/_navbar.md
  docs/eclipse/_sidebar.md
  docs/eclipse/base/CustomComponent.md
  docs/eclipse/base/ExtensionPoint.md
  docs/eclipse/base/OSGiService.md
  docs/extjs/_navbar.md
  docs/index.html
  docs/japanese/_navbar.md
  docs/java/_navbar.md
  docs/javafx/_navbar.md
  docs/linux/_navbar.md
  docs/springCloud/_navbar.md
Labels: antd, database, designPattern, japanese, java, javafx, linux, springCloud, docsify, cpp

feat: Add VSCode
  docs/_sidebar.md
  docs/springBootDemo/basic/Vscode.md
Labels: springBoot

feat(linux): Add random
  docs/linux/_sidebar.md
  docs/linux/basic/random.md
Labels: linux

Update Contributors
  CONTRIBUTORS.md
Labels: none

Update Contributors
  CONTRIBUTORS.md
Labels: none

Update Contributors
  CONTRIBUTORS.md
Labels: none

Change default state directory for SSL sync script
  docs/linux/basic/tencent_cloud_ssl_sync.py
Labels: linux

Update Contributors
  CONTRIBUTORS.md
Labels: none

Update Contributors
  CONTRIBUTORS.md
Labels: none

Update Contributors
  CONTRIBUTORS.md
Labels: none

feat: Modify domain
  docs/README.md
  docs/_navbar.md
  docs/antd/_navbar.md
  docs/cpp/_navbar.md
  docs/database/_navbar.md
  docs/designPattern/_navbar.md
  docs/eclipse/_navbar.md
  docs/extjs/_navbar.md
  docs/index.html
  docs/japanese/_navbar.md
  docs/java/_navbar.md
  docs/javafx/_navbar.md
  docs/linux/_navbar.md
  docs/linux/basic/tencent_cloud_ssl_sync.py
  docs/springCloud/_navbar.md
Labels: springBoot, antd, database, designPattern, japanese, java, javafx, linux, springCloud, docsify, cpp

Update Contributors
  CONTRIBUTORS.md
Labels: none

feat: Modify logo
  docs/favicon.ico
  docs/images/logo.png
Labels: docsify, image

feat: Add image compression tool link to Website.md
  docs/springBootDemo/deploy/Website.md
Labels: springBoot
