Repository unknowIfGuestInDream/document, pull requests merged in 2022-12, with the labels that each got.

#21 ci: 工作流完善
  .github/boring-cyborg.yml
  .github/workflows/greetings.yml
  .github/workflows/lock.yml
  .mergify.yml
Labels: workflow, size/L

#23 feat: japanese 语法文档优化
  docs/japanese/junior/Grammar.md
Labels: enhancement, japanese, size/S

#25 feat: 修改首页注释
  docs/index.html
Labels: enhancement, docsify, size/XS

#26 ci: 新增tab组件，修改工作流
  .mergify.yml
  docs/index.html
  docs/japanese/junior/Basic.md
  docs/lib/docsify-tabs-min.js
Labels: docsify, japanese, size/M, dependencies

#31 docs: Update 25.md
  docs/japanese/junior/25.md
Labels: documentation, japanese, size/XS

#32 feat: 新增japanese 25 单词和应用课文
  docs/images/japanese/25/单词.jpg
  docs/images/japanese/25/应用课文.jpg
  docs/japanese/junior/25.md
Labels: enhancement, image, japanese, size/XS

#35 feat: 新增japanese 26，27路径
  docs/japanese/_sidebar.md
Labels: enhancement, japanese, size/XS

#36 feat: Update 26.md
  docs/japanese/junior/26.md
Labels: enhancement, japanese, size/S

#37 fix: Update 26.md
  docs/japanese/junior/26.md
Labels: bug, japanese, size/S

#38 feat: 修改视频资源路径
  docs/japanese/_sidebar.md
  docs/japanese/junior/26.md
  docs/japanese/junior/27.md
  docs/japanese/junior/Videos.md
Labels: enhancement, japanese, size/M

#39 feat: 修改include 配置
  docs/japanese/junior/Videos.md
Labels: enhancement, japanese, size/S
